[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sMSROC"]
	path = sMSROC
	url = https://github.com/cran/sMSROC
[submodule "smoothROCtime"]
	path = smoothROCtime
	url = https://github.com/cran/smoothROCtime
